<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security.xsd">
                        
                        
  <!-- Configurazione per richiedere l'autenticazione per tutte le pagine JSP -->
    <http>
        <intercept-url pattern="/OfficineTreni/*.jsp" access="isAuthenticated()" />
        <!-- Altre configurazioni di sicurezza se necessario -->
        <form-login login-page="/OfficineTreni/login" />
    </http>

    <!-- Configurazione dell'autenticazione utente -->
    <authentication-manager>
        
            <!-- Configurazione del tuo UserDetailsService (servizio che carica gli utenti) -->
            <authentication-provider user-service-ref="DatabaseUserDetailsService" />
       
    </authentication-manager>

</beans:beans>